.container .nav-item {
    display: inline-block;
    padding: 1px;
    background-color: rgba(224, 116, 224, 0.192);
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid transparent;

    .container ul {
        display: inline-block;
    }


    &:hover {
        background-color: transparent;
        padding: 0.5px;
        background-color: $color-fondop;
        transition: 0,5;
        border-radius: 10px;
        border-style:unset;
    }
}