.navbar {
    padding: 10px 20px;
    background-color: rgb(244, 230, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu ul {
        padding: 10px;
        width: auto;
        display: flex;
        list-style-type: none;
        text-align: center;

        :hover {
            padding: 0.5px;
            background-color: $color-fondop;
            transition: 0,5;
            border-radius: 10px;
            border-style:unset;
        }
    }


    .menu ul li {
        width: auto;
        display: inline-block;
        margin-right: 10px;
        text-align: start;
    }

    .menu ul li a {
        width: auto;
        text-decoration: none;
        color: #64166b;
        display: block;
        padding: 0, 5;
        text-align: left;
    }

    .logo {
        padding: 10px;
    }
}

.busqueda form {
    padding: 10px;

    input {
        padding: 5px;
        color: rgb(99, 43, 136);
        border-radius: 0, 5px;

        button {
            border: none;
            background-color: #9a14a7;
            color: white;
            border-radius: 3px;

        }
    }


}