.img-planta {
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 5px;
    flex-grow: 4;
    flex-basis: 320px;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
}

.img-especies {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 100%;
}

.img-planta {
    height: 100%;
}

.img-titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.parrafo-especies {
    color: rgb(43, 40, 44);
    background-color: $color-fondop;
    border-radius: 10px;
    border-style: ridge;
    margin: 50px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}