.carousel-inner {
    height: 500px;
}

.carousel-item {
    height: 500px;

    img {
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
}

.body,
.color-de-fondo {
    background-color: $color-fondo-body;
}

.h1,
.titulo-h1 {
    padding: 30px;
    text-shadow: 5px 5px 5px gray;
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    animation: cambioColor 4s infinite;

    @keyframes cambioColor {
        0% {
            color: rgb(82, 57, 82);
        }

        50% {
            color: rgb(148, 91, 148);
        }

        100% {
            color: rgb(83, 57, 83);
        }
    }
}

.parrafo-banner {
    @include parrafo-inicial;

}

p:hover {
    background-color: $color-fondop;
    transition: 0, 5;
}